@charset "UTF-8";
body{
    padding-top: 56px;
}
.container{
    max-width: 800px;
}
nav{
    background-color: #11303d;
}
header{
    background: url("/static/wn_doc/img/header.jpg") center center no-repeat;
    background-size: cover;
    height: 300px;
}
/* Repository: sidebar navigation */
.dir-menu {
    background: #11303d;
}
.sidebar-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav .dir-menu {
    display: flex;
    flex-direction: column;
}
.sidebar-nav .dir-menu>li {
    position: relative;
    display: flex;
    flex-direction: column;
}
.sidebar-nav .dir-menu a {
    position: relative;
    display: block;
    padding: 13px 15px;
    transition: all .3s ease-out;
    text-decoration: none;
    color: #adb5bd;
    outline-width: 0;
}
.sidebar-nav .dir-menu ul a {
    padding: 10px 15px 10px 30px;
}
.sidebar-nav .dir-menu ul ul a {
    padding: 10px 15px 10px 45px;
}
.sidebar-nav .dir-menu a:hover,
.sidebar-nav .dir-menu a:focus,
.sidebar-nav .dir-menu a:active {
    text-decoration: none;
    color: #f8f9fa;
    background: #0b7285;
}
.directory{
    fill: #79b8ff;
}
.file-name{
    color: #fff;
    background-color: #11303d;
}
/* Repository: code area */
.code-wrap code{
    padding: .2em .4em;
    margin: 0;
    color: #24292e;
    background-color: rgba(27,31,35,.05);
    border-radius: 6px;
}
.code-wrap pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 6px;
}
.code-wrap pre code{
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
}
.code-area img{
    max-width: 100%;
}
span.row-num span{
    display: inline-block;
    width: 40px;
    text-align: right;
    color: #6c757d;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6{
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}
.markdown pre, .markdown p code{
    padding: .2em .4em;
    background-color: rgba(27,31,35,.05);
    border-radius: 6px;
    color: #24292e;
}
pre span{
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.gist-it-gist .gist-file div.gist-data, .gister-gist .gist-file div.gist-data {
    background-color: #fff;
}
.kwd, .kwd span{
    color: #d73a49;
}
.typ, .typ span, span.lit, span.lit + span{
    color: #e36209;
}
.com, .com span{
    color: #6a737d;
}
span.str{
    color: #000;
}