@charset "UTF-8";
body{
    padding-top: 3.5rem;
}
.container{
    max-width: 800px;
}
nav{
    background-color: #11303d;
}
header{
    background: url("/static/wn_doc/img/header.jpg") center center no-repeat;
    background-size: cover;
    height: 300px;
}
/* Profile Modal */
.profile li{
    font-size: 0.8rem;
}
.badge-lang{
    background-color: #da5b0b;
}
.badge-os{
    background-color: #3572a5;
}
.badge-network{
    background-color: #563d7c;
}
.badge-hardware{
    background-color: #178600;
}
/* Repository: sidebar navigation */
.dir-menu {
    background: #11303d;
}
.sidebar-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav .dir-menu {
    display: flex;
    flex-direction: column;
}
.sidebar-nav .dir-menu>li {
    position: relative;
    display: flex;
    flex-direction: column;
}
.sidebar-nav .dir-menu a {
    position: relative;
    display: block;
    padding: 13px 15px;
    transition: all .3s ease-out;
    text-decoration: none;
    color: #adb5bd;
    outline-width: 0;
}
.sidebar-nav .dir-menu a:hover,
.sidebar-nav .dir-menu a:focus,
.sidebar-nav .dir-menu a:active {
    text-decoration: none;
    color: #f8f9fa;
    background: #0b7285;
}
.directory{
    fill: #79b8ff;
}
.file-name{
    color: #fff;
    background-color: #11303d;
}
/* Repository: code area */
.code-area pre{
    padding: 3rem;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 6px;
}
.code-area pre code{
    display: inline;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
}
.code-area img{
    max-width: 100%;
}
span.row-num, span.row-num span{
    display: inline-block;
    width: 3rem;
    margin-right: 1rem;
    text-align: right;
    color: #6c757d;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6{
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}
.markdown pre, .markdown code{
    border-radius: 6px;
    color: #24292e;
}
.markdown pre{
    padding: 16px;
    background-color:#f6f8fa;
}
.markdown code{
    padding: .2em .4em;
    background-color: rgba(27,31,35,.05);
}
.markdown pre > code{
    padding: 0;
    background: transparent;
}
